<!-- header section starts  -->

<header class="header">

  <div class="header-1">

      <a href="/" class="logo"> <i class="fas fa-book"></i> Carol's Bookstore</a>

      <div class="icons">
          <div id="search-btn" class="fas fa-search"></div>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-sign-out-alt"></a>
      </div>

  </div>

  <div class="header-2">
    <nav class="navbar">
      <a href="/admin">admin</a>
      <a href="/admin/create-book">create book</a>
      <a href="/admin/create-author">create author</a>
  </nav>
  </div>

</header>

<!-- header section ends -->

<!-- bottom navbar - mobile -->

<nav class="bottom-navbar">
<a href="/admin" class="fas fa-home"></a>
<a href="/admin/create-book" class="fas fa-book"></a>
<a href="/admin/create-author" class="fas fa-user"></a>
</nav>