<!-- footer section starts  -->

<footer>

  <div class="box-container">

      <div class="box">
          <h3>our locations</h3>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> Massachusetts</a>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> Ohio </a>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> California </a>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> New York </a>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> Colorado </a>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> arrivals </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> blogs </a>
      </div>

      <div class="box">
          <h3>extra links</h3>
          <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
          <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
      </div>

      <div class="box">
          <h3>contact info</h3>
          <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
          <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
          <a href="#"> <i class="fas fa-envelope"></i> hello@carolsbookstore.com </a>
      </div>
      
    </div>


  <div class="credit">Copyright &copy; Carol's Bookstore <%= copyrightYear %>. All rights reserved.</div>

</footer>

<!-- footer section ends -->

<!-- custom js file link  -->
<script src="/js/script.js"></script>

</body>
</html>