<!-- footer section starts  -->

<footer>

  <div class="box-container">
    <div class="box">
        <h3>developer contact info</h3>
        <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
        <!-- <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a> -->
        <a href = "mailto:kit.tjclasses@gmail.com?subject = ClassBookstoreInquiry&body = Message"> <i class="fas fa-envelope"></i> kit.tjclasses@gmail.com </a>
    </div>
    <div class="box">
        <h3>our locations</h3>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Massachusetts</a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Vermont </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> California </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> New Jersey </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Colorado </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Austin </a>
    </div>

    <div class="box">
        <h3>quick links</h3>
        <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> featured (coming soon) </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> arrivals (coming soon) </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> reviews (coming soon) </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> blogs (coming soon) </a>
    </div>

    <div class="box">
        <h3>extra links</h3>
        <a href="#"> <i class="fas fa-arrow-right"></i> account info (coming soon) </a>
        <!-- <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a> -->
        <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy (coming soon)</a>
        <a href="#"> <i class="fas fa-arrow-right"></i> payment method (tip the site admin) </a>
        <a href="https://tj-practitioner-directory.cyclic.app/"> <i class="fas fa-arrow-right"></i> new and improved services (v.2 of the directory)</a>
        <a href="https://tj-practitioner-directory.herokuapp.com/"> <i class="fas fa-arrow-right"></i> our former services (v.1 of the directory) </a>
    </div>
</div>


  <div class="credit">Copyright &copy; Kit Fenrir Amreik (they/she), Carol's Bookstore (CodeSquad) <%= copyrightYear %>. All rights reserved.</div>

</footer>

<!-- footer section ends -->

<!-- custom js file link  -->
<script src="/js/script.js"></script>

</body>
</html>
