<!-- header section starts  -->

<header class="header">

  <div class="header-1">

      <a href="/" class="logo"> <i class="fas fa-book"></i> Carol's Bookstore</a>
      
      <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="/login" class="fas fa-sign-in-alt"></a>
      </div>

  </div>

  <div class="header-2">
      <nav class="navbar">
          <a href="/">home</a>
          <a href="/books">books</a>
          <a href="/authors">authors</a>
      </nav>
  </div>

</header>

<!-- header section ends -->

<!-- bottom navbar - mobile -->

<nav class="bottom-navbar">
  <a href="/" class="fas fa-home"></a>
  <a href="/books" class="fas fa-book"></a>
  <a href="/authors" class="fas fa-user"></a>
</nav>