<%- include('../partials/head') -%> 
    
<%- include('../partials/adminNavbar') -%> 

<!-- main-content section starts  -->

<section class="main-content" id="main-content">

  <h1 class="heading"> <span>admin</span> </h1>

      <div class="main-content-layout">

          <a href="/admin/admin-books" class="box">
              <div class="content">
                  <h3 class="text-center">Book Listing</h3>
              </div>
            </a>

          <a href="/admin/admin-authors"  class="box">
              <div class="content">
                  <h3 class="text-center">Author Listing</h3>
              </div>
            </a>

        </div>

</section>

<!-- main-content section ends -->

<%- include('../partials/footer') -%> 