<%- include('../partials/head') -%> 
    
<%- include('../partials/adminNavbar') -%> 

<main>
  <h1 class="heading"> <span>Create Book</span> </h1>
  <form action="/books" method="POST">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" minlength="1" required />
    </div>

    <div>
        <label for="author">Author: </label>
        <input type="text" name="author" id="author" minlength="5" required />
    </div>

    <div>
        <label for="price">Price: </label>
        <input type="number" name="price" id="price" min="1" required />
    </div>

    <div>
        <label for="starRating">Star Ratings: </label>
        <input type="number" name="starRating" id="starRating" min="1" max="5" required />
    </div>

    <div>
        <label for="synopsis">Synopsis:</label>
        <textarea class="text-area-label" name="synopsis" id="synopsis" placeholder="Synopsis"></textarea>
    </div>

    <div>
        <input type="submit" value="Submit"/>
    </div>

</form>
</main>

<%- include('../partials/footer') -%> 