<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="row">

        <div class="content">
          <!-- Use the ternary operator to only show the userName if the signedIn variable is set to true, otherwise show the word "customer. -->
            <h3>Welcome <%= signedIn ? name : 'customer' %>!</h3>
            <p>Carol's Bookstore was formerly run by Carol and she's going into retirement. While she is saddended to go, she has appointed the new site admin to be Kit Amreik (they/she).</p>
            <div class="content">
                <p class="minor-expansion">Over time, this site will be updated to showcase all of the books A.P. students read throughout the curriculum.</p>
            </div>

            <a href="/books" class="btn">Check the Bookstore Now!</a>
        </div>

    </div>

</section>


<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>shared resources</h3>
            <p>cohorts contribute to book list formation</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure access</h3>
            <p>students can share free pdfs for future cohorts</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy reviews</h3>
            <p>semester reflections help shape learning</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>instructor support anytime in order to succeed :]</p>
        </div>
    </div>

</section>

<!-- icons section ends -->

<%- include('../partials/footer') -%>
