<%- include('../partials/head') -%> 

<%- include('../partials/navbar') -%> 

<!-- home section starts  -->

<section class="home" id="home">

    <div class="row">

        <div class="content">
          <!-- Use the ternary operator to only show the userName if the signedIn variable is set to true, otherwise show the word "customer. -->
            <h3>Welcome <%= signedIn ? name : 'customer' %>!</h3>
            <p>Carol's Bookstore sells books that were made into movies and tv shows.</p>
            <a href="/books" class="btn">shop now</a>
        </div>

    </div>

</section>


<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>free shipping</h3>
            <p>order over $100</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure payment</h3>
            <p>100 secure payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy returns</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>call us anytime</p>
        </div>
    </div>

</section>

<!-- icons section ends -->

<%- include('../partials/footer') -%> 